.up-con{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content:top center;
    align-items: center;
    flex-direction: column;
}
.text-up{
    width: 80%;
}
.aaaa{
    font-size: 50px;
    color: white;
    overflow-wrap: anywhere;
    justify-self: center;
    text-align: center;
}
.bbbb{
    line-height: 150%;
    opacity: 0.7;
    overflow-wrap: anywhere;
    justify-self: center;
    text-align: center;
    color: white;
}
.up-button {
    height: 70px;
    width: 230px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
  }