.dash-con{
    height: max-content;
    background-color: transparent;
    display: flex;
    justify-content:top center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.text-con{
    width: 80%;
}
.aa{
    font-size: 5em;
    color: black;
    overflow-wrap: anywhere;
    justify-self: center;
    text-align: center;
}
.bb{
    line-height: 150%;
    opacity: 0.7;
    overflow-wrap: anywhere;
    justify-self: center;
    text-align: center;
    color: black;
}
@media (max-width: 1000px) {
.dash-con{
    height: fit-content;
}
  
  }

@media screen and (max-width:660px) {
    .aa{
        font-size: 2em;
    }
    .bb{
        font-size: 1em;
    }
}