.sidenav-body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidenav-holder{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100px;
  align-items: center;
  height: 100%;
  gap: 50px;
}
.logged-user{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  color: white;
  align-items: center;
}
.nav-con {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  align-items: center;
  gap: 70px;
}
.admin-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
}
.admin {
  width: 50px;
  height: 50px;
}
.admin-r {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  color: white;
}
.icon-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: space-evenly;
}
.icons:hover {
  color: white;
  cursor: pointer;
}
.uni{
  display: none;
}

@media (max-width: 480px) {
    .icon-con {
        background-color: rgb(211, 211, 211);
        padding: 20px;
        display: none;
      }
      
      .icon-con.active {
        display: flex;
        position: absolute;
        top: 0;
        width: 100vw;
       height: 100vh;
        
       
      }
      .uni.active{
        display: block;
      }
      .admin-con{
z-index: 1000;
position: absolute;
      }
  .nav-con {
    position: fixed;
    top: 0;
    width: 70px;
  }
  .admin{
    width: 40px;
    
  }
  .admin-con {
    height: auto;
  }
 
}
