.taskFunction-body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.taskFunction-holder{
    display: flex;
    flex-wrap: wrap;
    width: 80rem;
    justify-content: space-around;
    gap: 50px;
}