.home-container{
  display: flex;
  flex-direction: column;
}
.home-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  height: 100vh;
}

.aaa {
  font-size: 60px;
  /* margin-top: 2%; */
  color: white;
  overflow-wrap: anywhere;
  justify-self: center;
  text-align: center;
}
.bbb {
  line-height: 150%;
  opacity: 0.7;
  overflow-wrap: anywhere;
  justify-self: center;
  text-align: center;
  color: white;
}
.ccc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: white;
}
.t-l{
   font-size: 20px;
   padding-bottom: 40px;
}

.box1 {
  width: 70%;
  /* height: 70vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-img{
  width: 90vw;
  height: 45vh;
  background-color: rgb(139, 97, 194,0.5);
  background-image: url("../images/images.png");
  background-position: bottom;
  border-radius: 20px;
  background-repeat: repeat-x;
  background-size: 50%;
  background-position-y: 2000%;
}
.color{
color: gray;
}
.signin {
  height: 70px;
  width: 230px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
}


.section-2{
  background-color: black;
  display: flex;
  justify-content: center;
}
.function-card-holder{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.section-2 img{
  width: auto;
  height: 50%;
}
