.home-container{
  display: flex;
  flex-direction: column;
}
.home-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  width: 100%;
}

.box1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-img{
  width: 90vw;
  height: 45vh;
  background-color: rgb(139, 97, 194,0.5);
  background-image: url("../images/images.png");
  background-position: bottom;
  border-radius: 20px;
  background-repeat: repeat-x;
  background-size: 50%;
  background-position-y: 2000%;
}
.bg{
  background-color: rgba(46, 25, 74, 0.9);
}
.color{
color: gray;
}
.signin {
  height: 70px;
  width: 230px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
}


.section-2{
  background-color: black;
  display: flex;
  justify-content: center;
}
.function-card-holder{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.section-2 img{
  width: auto;
  height: 50%;
}

@media screen and (max-width:660px) {
  .section-2{
    flex-direction: column;
  }
  .function-card-holder{
    width: 100%;
  }
  .header-img{
    background-position-y: 100%;
    background-size: 100%;


  }
}
