.home-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
<<<<<<< HEAD
  width: 100%;
}

.box1 {
  width: 100%;
=======
  height: 89.6vh;
}

.aaa {
  font-size: 60px;
  margin-top: 5%;
  color: white;
  overflow-wrap: anywhere;
  justify-self: center;
  text-align: center;
}
.bbb {
  line-height: 150%;
  opacity: 0.7;
  overflow-wrap: anywhere;
  justify-self: center;
  text-align: center;
  color: white;
}
.ccc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: white;
}
.t-l{
   font-size: 20px;
   padding-bottom: 40px;
}

.box1 {
  width: 70%;
  height: 70vh;
 
>>>>>>> 8c2e6fc33f807d72434db578ba68512d3b536eda
  display: flex;
  flex-direction: column;
  align-items: center;
}
<<<<<<< HEAD
.header-img{
  width: 90vw;
  height: 45vh;
  background-color: rgb(139, 97, 194,0.5);
  background-image: url("../images/images.png");
  background-position: bottom;
  border-radius: 20px;
  background-repeat: repeat-x;
  background-size: 50%;
  background-position-y: 2000%;
}
.bg{
  background-color: rgba(46, 25, 74, 0.9);
}
=======
>>>>>>> 8c2e6fc33f807d72434db578ba68512d3b536eda
.color{
color: gray;
}
.signin {
  height: 70px;
  width: 230px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
}
<<<<<<< HEAD


.section-2{
  background-color: black;
  display: flex;
  justify-content: center;
}
.function-card-holder{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.section-2 img{
  width: auto;
  height: 50%;
}

@media screen and (max-width:660px) {
  .section-2{
    flex-direction: column;
  }
  .function-card-holder{
    width: 100%;
  }
  .header-img{
    background-position-y: 100%;
    background-size: 100%;


  }
}
=======
>>>>>>> 8c2e6fc33f807d72434db578ba68512d3b536eda
