
:root {
    --primary-color: #dde8f1;
    --secondary-color: #8b61c2;
    --tertiary-color: #A3BFD1;
    --alternate-color: #495057;
}

.home-main{
    background-color: var(--primary-color);
    height: 100vh;
}