.card-holder{
    width: 70%;
    height: 100%;

}
.card-body{
    display: flex;
    flex-direction: column;
    border: 0.5px solid silver;
    border-radius: 5px;
    width: 20%;
    box-shadow: 3px 3px 2px 3px white;
    background-color: rgba(139, 97, 194, 0.8);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 70%;
}
.card-body h2{
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}
.card-body p{
    color: silver;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width:660px) {
    .card-holder{
        width: 100%;
    }
    .card-body{
        width: 100%;
    }
    .card-body h2{
        font-size: 16px;
    }
    .card-body p{
        font-size: 12px;
    }
    
}