/* .cont{
    display: flex;
    width: 20em;
}
.option-holder{
    width: 100%;
}
.files{
    width: 100%;
    height: 10rem;
    background-color:#E6E6FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
}
.files:hover {
    transform: scale(0.9);
    cursor: pointer;
    filter: brightness(0.8);
}

.content-con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10em;
    text-overflow: ellipsis;
    align-items: flex-start;
}
.icon-file{
    height: 2em;
    width: auto;
}

@media screen and (max-width:660px) {
    .cont{
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 100%;
        padding-left: 1em;

    }
    .option-holder{
        width: 100%;
        height: 10em;

    }
    .files{
        height: 100%;
    }
    .content{
        width: max-content;
        font-size: 10px;
        border: 1px solid red;
    }
} */