main{
    display: flex;
}
.uplaodfile-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content:  center;
    background-color: var(--primary-color);
}
.uplaodfile-body h1{
    font-size: 4rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.uplaodfile-body p{
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
}
label{
    display: flex;
    width: 20%;
    height: 10%;
    background-color: var(--secondary-color);
    color: white;
    justify-content: center;
    align-items: center;
    border: 0.11px solid grey;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.5rem;
    gap: 5px;
    cursor: pointer;
}
label:hover{
    background-color: rgb(117, 61, 190);
}
.filedetails-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.file-image{
    width: auto;
    height: 10em;
}
.file-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
button{
    width: 20%;
    height: 3rem;
    background-color: var(--secondary-color);
    color: white;
    border: 0.11px solid grey;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(117, 61, 190);
}