.nav-bar{
    height: 60px;
    background-color: black;
    display: flex;align-items: center;
    justify-content: space-between;
}
.logo-con{
    display: flex;
    align-items: center;
}
.logo{
    height: 60px;
    width: 60px;
}
.cons{
    margin-right: 3%;
}
.anchor{
    color: white;
    text-decoration: none;
}