.sidenav-body{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index:2;
  height: 100%;
  width: 100%;
}
.sidenav-holder{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  height: 100%;
  gap: 50px;

}
.logged-user{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  color: white;
  align-items: center;
}
.nav-con {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  align-items: center;
  gap: 70px;
}
.admin-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
}
.admin {
  width: 50px;
  height: 50px;
}
.admin-r {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  color: white;
}
.icon-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: space-evenly;
}
.icons:hover {
  color: white;
  cursor: pointer;
}
.uni{
  display: none;
}

@media (max-width: 768px) {
  .sidenav-body{
    width: 100px;
  }
  .sidenav-holder{
    width: 100%;
  }
}


@media (max-width: 660px) {
  .sidenav-holder{
    height: 100vh;
    gap:10px;
    width: 100%;

  }
  .logged-user{
    font-size: 14px;
  }
  .logged-user>h5{
    font-size: 14px;
  }

  .uni.active{
    display: block;
  }
  .nav-con{
    gap: 30px;
    }
 
}
